<p ng-show="battleReports.length > 0">Kliknutím na nadpis bitevní zprávy zobrazíte detaily.</p>
<p ng-show="battleReports.length === 0">Zatím nejsou žádné bitevní zprávy. Zaútočte na nepřítele, ať máme o čem psát!</p>
<ul>
	<li ng-repeat="report in battleReports">
		<div ng-if="report.victory">
			<span ng-click="viewSwitch($index)" class="clickImg" style="font-weight: bold; color: #0000bb;">Vítězství!</span><br>
			Rozdrtili jsme armádu Polisu (úroveň {{report.lvl}}) za {{report.cycles}} kol.<br>
			Vydrancováno: <span ng-repeat="i in icons"><img ng-src="res/GUI/icon_{{i}}.png" width="16" height="16">{{report.dranc[$index].toFixed(0)}}&nbsp;</span>
		</div>
		<div ng-if="!report.victory">
			<span ng-click="viewSwitch($index)" class="clickImg" style="font-weight: bold; color: #bb0000;">Porážka!</span><br>
			Polis (úroveň {{report.lvl}}) zničil naši armádu za {{report.cycles}} kol.
		</div>
		<div ng-show="detailView === $index">
			<table>
				<tr>
					<td ng-repeat="(i,n) in blankObj" ng-if="report.deadP[i] > 0 || report.deadE[i] > 0" style="text-align: center">
						<img ng-src="res\unit\{{units[i].img}}" width="56" height="56"><br>
						<span style="color: #0000bb;">-{{report.deadP[i] ? report.deadP[i] : 0}}</span><br>
						<span style="color: #bb0000;">-{{report.deadE[i] ? report.deadE[i] : 0}}</span>
					</td>
				</tr>
			</table>
			<p><a class="fakeLink" ng-click="deleteReport($index)">Smazat zprávu</a></p>
		</div>
	</li>
</ul>
