<p ng-show="battleReports.length > 0">Kliknutím na nadpis bitevní zprávy zobrazíte detaily.</p>
<p ng-show="battleReports.length === 0">Zatím nejsou žádné bitevní zprávy. Zaútočte na nepřítele, ať máme o čem psát!</p>
<ul>
	<li ng-repeat="report in battleReports">
		<div ng-if="report.victory && !report.odys">
			<span ng-click="viewSwitch($index)" class="clickImg" style="font-weight: bold; color: #0000bb;">Vítězství!</span><br>
			Armáda {{report.name}} rozdrtila Polis (úroveň {{report.lvl}}) za {{report.cycles}} kol<br>
			Vydrancováno: <span ng-repeat="i in icons"><img ng-src="res/GUI/icon_{{i}}.png" width="16" height="16">{{report.dranc[$index].addk(1e4, 1e7)}}&nbsp;</span>
		</div>
		<div ng-if="!report.victory && !report.odys">
			<span ng-click="viewSwitch($index)" class="clickImg" style="font-weight: bold; color: #bb0000;">Porážka!</span><br>
			Polis (úroveň {{report.lvl}}) zničil armádu {{report.name}} za {{report.cycles}} kol
		</div>
		<div ng-if="report.odys">
			<span ng-click="viewSwitch($index)" class="clickImg" style="font-weight: bold; color: #008800;">Odysseia</span><br>
			Naši hrdinové padli na {{report.lvl}}. ostrově a dosáhli
			<span tooltip="šance na relikvii {{odysRelicDropP(report.score)}}" style="cursor: help;">epického skóre {{report.score}}</span><br>
			Kořist: <span ng-repeat="i in icons"><img ng-src="res/GUI/icon_{{i}}.png" width="16" height="16">{{report.dranc[$index].addk(1e4, 1e7)}}&nbsp;</span>
			💡{{report.drancWP.addk(1e4, 1e7)}}
			<span ng-if="report.relic"><br>Přivezli jsme také vzácný artefakt {{relics[report.relic].name}}</span>
		</div>
		<div ng-show="detailView === $index">
			<table>
				<tr>
					<td ng-repeat="(i,n) in blankObj" ng-if="report.deadP[i] > 0 || report.deadE[i] > 0" style="text-align: center">
						<img ng-src="res\unit\{{units[i].img}}" width="56" height="56"><br>
						<span style="color: #0000bb;">-{{report.deadP[i] ? report.deadP[i] : 0}}</span><br>
						<span ng-if="!report.odys" style="color: #bb0000;">-{{report.deadE[i] ? report.deadE[i] : 0}}</span>
					</td>
				</tr>
			</table>
			<p><a class="fakeLink" ng-click="deleteReport($index)">Smazat zprávu</a></p>
		</div>
	</li>
</ul>
