<p>
	Účinnost obchodu: {{eff.toPercent()}}, každá úroveň k účinnosti přidává 5%.
</p>
<p>
	Obchodovaná surovina:
	<select ng-model="selected">
		<option ng-repeat="s in suroviny" ng-value="$index">{{s.name}}</option>
	</select>
	<input type="button" ng-click="trade()" value="Provést obchod">
</p>
<p></p>
<p><input type="range" class="distributeSlider" step="1" min="0" max="100" ng-model="percent"></p>
<table><tr>
	<td style="text-align: left; width: 100px;">&larr; prodat</td>
	<td style="text-align: center; width: 200px;">
		<img src="res/GUI/icon_zlato.png"> {{calculate()[0].withSign()}}
		<img ng-src="res/GUI/icon_{{suroviny[selected].id}}.png"> {{calculate()[1].withSign()}}
	</td>
	<td style="text-align: right; width: 100px;">nakoupit &rarr;</td>
</tr>
<tr ng-if="status"><td colspan="3" class="thisIsBad" style="text-align: center;">{{status}}</td></tr>
</table>
