<p>
	Každá úroveň budovy zlevňuje jednotky o 4%, nyní jsou zlevněny o {{(1-eff()).toPercent()}}.<br>
	Volné obyvatelstvo: 🙂 {{freePop()}}
</p>
<table>
	<tr ng-repeat="(id,unit) in units">
		<td>
			<img ng-src="res\unit\{{unit.img}}">
		</td>
		<td style="padding: 0px;">
			<p><b>{{unit.name}}</b> <span class="tip" title="v naší armádě">({{army[id]}})</span><br>{{unit.flavor}}<br>
				<input type="range" class="distributeSlider" step="1" min="0" max="{{getBuyLimit(id)}}" ng-model="ranges[id]">
				<span class="strong tip" title="koupit">{{ranges[id]}}</span><br>

				<span class="tip" title="vojáci se rekrutují pouze z volných obyvatel (pokud jich je málo, stáhněte dělníky z dolů)">🙂 {{popPrice(id, atLeast1(ranges[id]))}}</span>
				<span ng-repeat="i in icons" ng-if="surPrice(id, $index, atLeast1(ranges[id])) > 0">
					<img ng-src="res/GUI/icon_{{i}}.png" width="16" height="16">
					{{surPrice(id, $index, atLeast1(ranges[id])).toFixed(0)}}
				</span>

				<input type="button" ng-click="buy(id)" value="Koupit">
				<span class="tip" title="nejvíce, co lze koupit">(max {{getBuyLimit(id)}})</span>
			</p>
		</td>
	</tr>
</table>
